<mat-sidenav-container>
  <!-- Los modos para sidenav son over, push,side -->
  <mat-sidenav #sidenav mode="side">
    <mat-button-toggle class="buttonNav"(click)="sidenav.toggle(); showButton=true">
      <mat-icon color="black">chevron_left</mat-icon>
    </mat-button-toggle>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="navbar">
      <div>
        <mat-button-toggle *ngIf="showButton" (click)="sidenav.toggle(); showButton=false">
          <mat-icon color="black">menu</mat-icon>
        </mat-button-toggle>
        Schedules
      </div>
      <div>
        <mat-icon color="black">home</mat-icon><span>Home</span>
        <mat-icon color="black">info</mat-icon><span>About</span>
        <mat-icon color="black">settings</mat-icon><span>Settings</span>
      </div>
    </mat-toolbar>
    <app-panels></app-panels>

  </mat-sidenav-content>
</mat-sidenav-container>
